@font-face {
    font-family: whitney;
    font-style: normal;
    font-weight: 500;
    src: local('Whitney-Semibold'), url('https://fonts.cdnfonts.com/s/22780/whitneysemibold.woff') format('woff');
}

